# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editores / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
